@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    scroll-behavior: smooth;
}

body{
    background-color: #ffe14c;
    position: relative;
    top: 0;
    left: 0;
    background-attachment: fixed;
    width: 100%;
    margin-bottom: 80px;
}


/*******************************************************************    NAVBAR  ****************************************************************************/

.navColor{
    background-color: #000;
} 

li{
    font-size: 20px;
}


/*******************************************************************    HOME  ****************************************************************************/

.index__title{
  width: 100%;
  height: 100vh;
  background-color: #040707;
  
}

.block{
  display: inline-block;
}

.index__contenido{
  color: #fff;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}

.signo{
  font-size: 10rem;
  font-weight: 500;
  color: #ffe14c;
}

.abierto{
  position: absolute;
  top: 5%;
  left: 25%;
}

.parrafo{
  position: absolute;
  top: 18%;
  left: 30%;
  font-family: 'Russo One', sans-serif;
  font-size: 2.8rem;
  font-weight: 500;

}

.main-parrafo{
  font-size: 4.3rem;
  margin: 90px 0px 90px 0px;
}
.amarillo{
  color: #ffe14c;

}
.cierre{
  position: absolute;
  top: 44%;
  left: 75%;
}

.btn-neon{
  position: absolute;
  top: 80%;
  left: 45%;
  display: inline-block;
  padding: 15px 30px;
  color: #FFF;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}



.btn-neon:hover{
  background: #ffe14c; 
  box-shadow: 0 0 10px #ffe14c, 0 0 40px, #ffe14c 0 0 80px;
  transition-delay: 1s;
  color: #000;
}


.btn-neon span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#ffe14c);
}
.btn-neon:hover #span1{
  left: 100%;
  transition: 1s;
}

#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#ffe14c);
}
.btn-neon:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#ffe14c);
}
.btn-neon:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#ffe14c);
}
.btn-neon:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.roja{
  color: #ae0019;
}

.card-info{
  margin: 10% auto
}
.title-card{
  font-size: 3rem;
  text-align: center;
}

.text-card{
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 1px;
  font-weight: 500;
}

.card-body{
  display: flex;
  flex-direction: column;
}

.text-btn{
  margin-top: 60px;
}



/*******************************************************************    ABOUT  ****************************************************************************/
.game{
    margin: 2% 0px;
}

.target{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.target-img{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.title-game{
    font-size: 3rem;
    font-weight: 800;
    margin: 20px 60px;
    text-align: center;
    color: #000;   
}


.wrap{
    width: 1000px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

} 

.tarjeta-wrap{
    margin: 1.8rem;
    -webkit-perspective: 800;
    perspective: 800;
    
}

.tarjeta{
    width: 16rem;
    height: 18rem;
    background-color: white ;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,.65);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,.65);
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid #040707;

}

.adelante, .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
}
.adelante{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.adelante i{
    font-size: 12rem;
    color: #040707;
    
}

.atras{
    transform: rotateY(180deg);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    background-color:#040707 ;
    color:white;
    border-radius: 10px; 

}

.atras p{
    font-size: 1.5rem;
    font-size: bold;
}

.atras a{
    display: block;
    color: white;
    margin: auto;
    margin: 10px;
    align-items: center;
}
.tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);
    border: 3px solid white;
}

.fotos{
  width: 100%;
  height: auto;
  background-color: #929295;
  
}

.imagenesTandil{
  width: 100%;
  max-width: 1200px;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 40px;
}


.item{
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
  transition: all 300ms;
  border-radius: 8px;
  position: relative;
}


.item::after {
  content: "";
  background-color: rgba(179, 229, 252, .1);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  transform: scale(0);
  transition: all 300ms;
  opacity: 0;
  border-radius: 8px;
}

.item:hover:after{
  opacity: 1;
  transform: scale(1);
}

.item:hover {
  transform: scale(1.05);
}

.item-text{
  padding: 1em;
}


.item-img{
  width: 100%;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


@media screen and (min-width: 590px) {
  
  .imagenesTandil{
    grid-template-columns: repeat(2, 1fr);
  }

  .item-img{
    max-height: 200px;
    overflow: hidden;
  }
  
}

@media screen and (min-width: 960px) {
  
  .imagenesTandil{
    grid-template-columns: repeat(3, 1fr);
  }

  .item-img{
    max-height: 230px;
    overflow: hidden;
  }
  
}





/*******************************************************************   PORTFOLIO  ****************************************************************************/
 
 .padre{
    width: 100%;
    height: 70vh;
    background-color: #383f51;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  
    
}
.padre-hijo{
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px lightgray solid;
    background: transparent;
    border-radius: 50%;
    color: white;
    font-size: 25px;
  
}

.padre-hijo a{
  text-decoration: none;
  color: white;
}
.padre-hijo:hover{
    transform: scale(1.05,1.05);
    transition: 1s ease;
    color: white;
    border: solid 7px #ae0019;
    cursor: pointer;
}

.material-icons-outlined{
    font-size: 50px;
}


/*******************************************************************    Service  ****************************************************************************/

/*Service*/

.service-info{
    background-color: #edf5f7;
    
}

.option{
    min-height: 455px;
    max-height: 455px;
}



                        /* formulario de contacto*/

.content{
    margin: 50px auto;
    max-width: 500px;
    background: rgba(0,0,0,0.2);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;    
}

.content .title{
    background: #000;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    border-top-right-radius: 20px;
    border-bottom: 5px solid white;
  
}

::placeholder{
    color: black;
    padding: 5px;
    font-size: 15px;
}

                    /*Datos del contacto */

.content .data{  
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.data input{
    border-radius: 5px;
    border: 1px solid darkgray;
    margin: 30px 5px 5px 5px;    
    font-size: 14px;
    padding: 8px;   
    color:black;
}


.input-50{
    width: 50%;
}

.input-100{
    width: 100%;
}

                                /*Contract*/
.content .contract{
    margin: 20px;
    

}

.content .contract select{
    font-size: 20px;
    width: 100%;
    background: #173e97;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.content .text{
    margin-top: 40px;
    margin-left: 13px;
    border-radius: 8px;  
}

.content .button{
    width: 100%;
    text-align: center;

}

.content .button input[type="submit"]{
    background-color: #173e97;
    color: white;
    border-radius: 0px 15px 0px 10px;
    cursor:pointer;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 15px;
    margin: 50px 20px;
   
}

.content .button input[type="reset"]{
    background-color: #173e97;
    color: white;
    border-radius: 0px 15px 0px 10px;
    cursor:pointer;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 15px;
    margin: 50px 20px;
}



                      /* Footer*/
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    position: absolute;
    width: 100%;
    flex-direction: row;
    font-size: 2rem;
    text-decoration: none;
    
}      

footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
   

@media screen and (min-width:320px) and (max-width:424px){
    
  /************ Index **********/
  
    .block{
      display: inline-block;
    }
    .signo{
      font-size: 6rem;
    }

    .abierto{
      top: 0;
      left: 6%;
    }
    
    .parrafo{
      top: 16%;
      left: 10%;
      font-size: 2rem;
      padding: 0px 12px;
    }

    .main-parrafo{
      font-size: 3rem;
      margin: 30px 0px 30px 0px;
    }

    .cierre{
      top: 60%;
      left: 85%;
    }

    .btn-neon{
      top: 83%;
      left: 24%;
      padding: 10px 20px;
    }
    
    
    .material-icons-outlined{
        font-size: 40px;
        
    }

/**************************** ABOUT *****************/
.game{
  margin: 5% 0px;
}

.title-game{
  font-size: 2rem;
  font-weight: 800;
  margin: 20px 30px;
}

.wrap{
  max-width: 300px;
  margin: 10px auto;
  
}

.tarjeta-wrap{
  margin:.5rem;
}

.tarjeta{
  width: 8rem;
  height: 10rem;
}

.adelante i{
  font-size: 6rem;
}

.atras{
  padding: 6px;
}

.atras p{
  font-size: .8rem;
}

.atras a{
  margin: 3px;
}
    

}

@media screen and (min-width:425px) and (max-width:767px){


/**************************** Index ******************************/

.block{
  display: inline-block;
}
.signo{
  font-size: 7rem;
}

.abierto{
  top: 0%;
  left: 4%;
}
.parrafo{
  top: 20%;
  left: 12%;
  font-size: 2.4rem;
  padding: 0px 12px;
}

.main-parrafo{
  font-size: 3.2rem;
  margin: 30px 0px 30px 0px;
}

.cierre{
  top: 53%;
  left: 89%;
}

.btn-neon{
  left: 24%;
  padding: 15px 25px;
}

/**************************** ABOUT *****************/
.game{
  margin: 5% 0px;
}

.title-game{
  font-size: 2rem;
  font-weight: 800;
  margin: 20px 30px;
}

.wrap{
  width: 400px;
  margin: 10px auto;
  
}

.tarjeta-wrap{
  margin: .8rem;
}

.tarjeta{
  width: 10rem;
  height: 12rem;
}

.adelante i{
  font-size: 8rem;
}

.atras{
  padding: 5px;
}

.atras p{
  font-size: 1rem;
}


}

@media screen and (min-width:768px) and (max-width:1023px){

/**************************** Index *****************/

.block{
  display: block;
}

.signo{
  font-size: 10rem;
}

.abierto{
  top: 0%;
  left: 4%;
}

.parrafo{
  top: 24%;
  left: 12%;  
  padding-right: 20px;
}

.main-parrafo{
  font-size: 5rem;
  margin: 30px 0px;
}

.cierre{
  top: 53%;
  left: 86%;
}

.btn-neon{
  left: 40%;
}

/**************************** ABOUT *****************/
.game{
  margin: 5% 0px;
}

.title-game{
  font-size: 2.5rem;
  font-weight: 800;
  margin: 20px 40px;
}

.wrap{
  width: 700px;
  margin: 10px auto;
  
}

.tarjeta-wrap{
  margin: 1rem;
}

.tarjeta{
  width: 12rem;
  height: 14rem;
}

.adelante i{
  font-size: 9rem;
}

.atras{
  padding: 5px;
}

.atras p{
  font-size: 1.2rem;
}

}

@media screen and (min-width:1024px) and (max-width:1439px){
  
  /**************************** Index *****************/
  .block{
    display: block;
  }
  .signo{
    font-size: 10rem;
  }
  
  .abierto{
    top: 0%;
    left: 7%;
  }
  
  .parrafo{
    top: 17%;
    left: 20%;  
    padding-right: 20px;
    font-size: 3rem;
  }
  
  .main-parrafo{
    font-size: 6rem;
    margin: 40px 0px;
  }
  
  .cierre{
    top: 50%;
    left: 90%;    
  }
  
  .btn-neon{
    left: 40%;
  }


}


@media screen and (min-width:1440px){

/**************************** Index *****************/
.block{
  display: block;
}
.signo{
  font-size: 12rem;
}

.abierto{
  top: 0%;
  left: 15%;
}

.parrafo{
  top: 17%;
  left: 30%;  
  font-size: 3rem;
}

.main-parrafo{
  font-size: 7rem;
  margin: 45px 0px;
}

.cierre{
  top: 50%;
  left: 85%;    
}

.btn-neon{
  left: 45%;
}



}
