footer{
    position: absolute;
    width: 100%;
    flex-direction: row;
    font-size: 2rem;
    text-decoration: none;
    .social-media{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a{
      text-decoration: none;
      color: $bg_oscuro;
      padding: 10px;
    }
  }
  