$bg_amarillo: #ffe14c;
$bg_oscuro: #040707;
$bg_rojo: #ae0019;
$bg_claro: #fff;
$bg_clarito: #edf5f7;

@mixin titulos{
    font-family: 'Russo One', sans-serif;
    font-size: 4rem;
}
@mixin contacto{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #ffe14c;
}
@mixin timeline{
    background: $bg_clarito;
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: $bg_rojo;
    font-size: 27px;
    box-shadow: 0 0 0 4px $bg_clarito, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}

@mixin iconos{
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
}