$bg_naranja: #db4326;
$bg_oscuro: #05111c;
$bg_claro: #fff;
$bg_clarito: #edf5f7;
$bg_azul: #004e64;
$bg_celeste: #c5e0e6;

@mixin signos{
    font-size: 10rem;
    font-weight: 500;
    color: $bg_naranja; 
}

@mixin titulos{
    font-family: 'Russo One', sans-serif;
    font-size: 4rem;
    color: $bg_azul;
}
@mixin contacto{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: $bg_clarito;
    border-bottom: 1px solid $bg_naranja;
}
@mixin timeline{
    background: $bg_claro;
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: $bg_azul;
    font-size: 27px;
    box-shadow: 0 0 0 4px $bg_azul, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}

@mixin iconos{
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
}